table > tbody > tr:first-child .remove-alexa-row-button {
  visibility: hidden;
}

table.drupal-slots-table,
table.associations-slots-table{
  margin-top:20px;
}

table.alexa-slots-table {
  margin-top:10px;
}

.suggestion-custom {
  color: grey;
  font-size: 12px;
  margin: 0;
}
